[submodule "lib/track-generator"]
	path = lib/track-generator
	url = https://github.com/eagletrt/track-generator-sw
[submodule "lib/track-reconstructor"]
	path = lib/track-reconstructor
	url = https://github.com/eagletrt/track-reconstructor.git
	
[submodule "lib/OpenPCDet"]
	path = lib/OpenPCDet
	url = https://github.com/open-mmlab/OpenPCDet.git
