
build/
data/
__pycache__/
*.pyc
.vscode/

src/camera-pipeline/__pycache__
src/visualizations
src/models
src/camera-pipeline/checkpoints
src/camera-pipeline/plotting/plots
src/camera-pipeline/depth_sgbm

__pycache__/
.vscode/
data/
build/
carla_dataset_three_classses/
*.pkl
**/gt_database/
output/
wandb/
eval_report/
robustness*/
*.pth/
*.png
*.pdf
diag_out_0a/
results/
*.npy
*.txt
intensity_cache/
dataset_analysis/
dataset_stats/

DS_Store
.DS_Store

tests/